body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#yes, #noBtn {
    background-color: #EF4848;
    color: white;
    border-radius: 10px;
    width: 80%;
    max-width: 200px;
    height: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    border: 3px solid #FC8787;
    cursor: pointer;
    margin: 10px; /* Добавлено расстояние между кнопками */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#yes:hover, #noBtn:hover {
    background-color: white;
    color: #EF4848;
}

#buttons {
    display: flex;
    flex-direction: column; /* Изменено направление на вертикальное */
    align-items: center; /* Центрирование кнопок */
    width: 100%;
    margin-top: 20px;
}

p {
    font-size: 2.5rem;
    color: white;
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
    text-align: center;
    margin: 20px;
    padding: 0 10px; /* Добавлено внутреннее отступление для текста */
}

/* Медиазапросы для адаптивности */
@media (max-width: 600px) {
    p {
        font-size: 2rem;
    }

    #yes, #noBtn {
        font-size: 1.2rem;
        height: 40px;
        width: 90%; /* Увеличена ширина кнопок для мобильных устройств */
    }
}
